BODY{
  color: #666666;
  background-color: #E6E6FF;
}
H1{
  color: #666666;
  text-align: center;
  border-top-color: #6666FF;
  border-bottom-color: #6666FF;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-style: solid;
  border-top-width: 4px;
  border-right-width: 0px;
  border-bottom-width: 4px;
  border-left-width: 0px;
}
H2{
  color: #666666;
  text-align: center;
  border-top-color: #6666FF;
  border-bottom-color: #6666FF;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
}
H3{
  color: #666666;
  text-align: center;
  border-top-color: #6666FF;
  border-bottom-color: #6666FF;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  border-style: solid;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
}
HR{
  color: #999933;
  height: 3px;
}
P{
  color: #666666;
}
A{
  color: #6666FF;
  text-decoration: none;
}
A:VISITED{
  color: #9999FF;
  text-decoration: none;
}
A:HOVER{
  color: #6666FF;
  text-decoration: underline;
}
A:ACTIVE{
  color: #3333FF;
  text-decoration: none;
}
UL{
  color: #666666;
  list-style-image: url(images/l_b09.gif);
  list-style-position: outside;
}
TH{
  color: #CCCCCC;
  background-color: #999933;
}
TD{
  color: #666666;
  background-color: #99CC33;
}